* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    margin: auto;
    background-color: #b4aeae;
    padding: 21.84px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 232.5px;

}

 .list ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

a{
    text-decoration: none;
    color: #080808;
    font-size: 18px;    
}

.icons ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

/* .container {
    width: 100%;
    margin: 0 auto;
    background-color: #ada4a4;
    padding: 20px;
    text-align: center;

} */

.collection-section {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    /* margin: 20px 0; */
    height: 500px;
    align-items: center;

}

.collection {

    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.collection h2 {

    padding-top: 30px;
    color: #080808;
    font-style: italic;
}