* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primary-color: #d31818;
    --primary-font: 'Inter', sans-serif;
    --spacer : 4px;
}


.container {
    width: 90%;
    margin: auto;
    
}



.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header{
    background-color: #daa1a1;
    padding: 21.84px 0px;
   
}


.list ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

a{
    text-decoration: none;
    color: #080808;
    font-size: 14px;   
    font-weight: 400; 
    font-family: inter;
    text-transform: capitalize;
}

.icons ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

.collection-section {
    background-color: #a11010;
    display: flex;
    justify-content: center;
    align-items: center;

}

.collection {
    
    padding: 50px 0px;
    align-items: center;
    text-align: center;

}


h2 {

    padding-top: 30px;
    color: #080808;
    font-family: var(--primary-font);
    font-size: 25px;
}